<div class="container-fluid">
  <div class="row pt-4 justify-content-center">
    <div class="col-lg-10">
      <mat-card><h3>Edicão de Obras</h3></mat-card>
    </div>
  </div>
</div>
<app-obra-editor *ngIf="obraModel && readyObraModel" [textButton]="'Editar'" (obraModelEmitter)="editar($event)" [obraModelEdicao]="obraModel"></app-obra-editor>
