<div class="pt-2">
  <div class="row justify-content-center">
    <div class="col-lg-10">
      <mat-card><h3>Listagem das Obras</h3></mat-card>
    </div>
  </div>
</div>
<div class="pt-2">
  <div class="row justify-content-center">
    <div class="col-lg-10">
      <form [formGroup]="filtroForm" (ngSubmit)="pesquisar()">
        <mat-card>
          <div class="container-fluid">
            <div class="row">
              <div class="col-lg-6">
                <mat-form-field>
                  <mat-label>Nome da Obra</mat-label>
                  <input matInput type="text" formControlName="nomeObra">
                </mat-form-field>
              </div>
              <div class="col-lg-6">
                <mat-form-field>
                  <mat-label>Descrição da Obra</mat-label>
                  <input matInput type="text" formControlName="descricaoObra">
                </mat-form-field>
              </div>

            </div>
            <div class="row">
              <div class="col-lg-12">
                <mat-form-field>
                  <mat-label>Nome do Autor</mat-label>
                  <input matInput type="text" formControlName="nomeAutor">
                </mat-form-field>
              </div>
            </div>
            <div class="row justify-content-end">
              <div class="col-auto">
                <button mat-raised-button color="primary" matTooltip="Pesquisar" type="submit"><mat-icon>search</mat-icon></button>
              </div>
              <div class="col-auto">
                <button mat-raised-button color="primary" matTooltip="Limpar Campos"><mat-icon>clear</mat-icon></button>
              </div>
            </div>
          </div>
        </mat-card>
      </form>
    </div>
  </div>
</div>
<div class="pt-2">
  <div class="row justify-content-center">
    <div class="col-lg-10">
      <table mat-table [dataSource]="obras" class="mat-elevation-z8">

        <ng-container matColumnDef="nome">
          <th mat-header-cell *matHeaderCellDef> Nome </th>
          <td mat-cell *matCellDef="let element"> {{element.nome}} </td>
        </ng-container>

        <ng-container matColumnDef="descricao">
          <th mat-header-cell *matHeaderCellDef> Descrição </th>
          <td mat-cell *matCellDef="let element"> {{element.descricao}} </td>
        </ng-container>

        <ng-container matColumnDef="dataPublicacao">
          <th mat-header-cell *matHeaderCellDef> Data de Publicação </th>
          <td mat-cell *matCellDef="let element"> {{element.dataPublicacao}} </td>
        </ng-container>

        <ng-container matColumnDef="dataExposicao">
          <th mat-header-cell *matHeaderCellDef> Data de Exposição </th>
          <td mat-cell *matCellDef="let element"> {{element.dataExposicao}} </td>
        </ng-container>

        <ng-container matColumnDef="acoes">
          <th mat-header-cell *matHeaderCellDef> </th>
          <td mat-cell *matCellDef="let element">
            <button mat-button (click)="editar(element.id)"><mat-icon>create</mat-icon></button>
            <button mat-button (click)="remover(element.id)"><mat-icon>delete</mat-icon></button>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
      <mat-paginator [length]="quantidadeObras"
                     [pageSize]="15"
                     [pageSizeOptions]="[5, 10, 15, 25, 100]" (page)="onPageChange($event)">
      </mat-paginator>
    </div>
  </div>
</div>
