<div class="container-fluid pt-2">
  <div class="row justify-content-center">
    <div class="col-lg-10">
      <mat-card>
        <mat-card-content>
          <form [formGroup]="autorForm" (ngSubmit)="onSubmit()">
            <div class="container-fluid">
              <div class="row">
                <div class="col-lg-12">
                  <mat-form-field>
                    <mat-label>Nome</mat-label>
                    <input matInput formControlName="nome" required>
                  </mat-form-field>
                </div>
              </div>

              <div class="row">
                <div class="col-lg-12">
                  <mat-form-field>
                    <mat-label>Sexo</mat-label>
                    <mat-select formControlName="sexo">
                      <mat-option>--</mat-option>
                      <mat-option [value]="sexoEnum.M">
                        Masculino
                      </mat-option>
                      <mat-option [value]="sexoEnum.F">
                        Feminino
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
              </div>

              <div class="row">
                <div class="col-lg-12">
                  <mat-form-field>
                    <mat-label>E-mail</mat-label>
                    <input matInput type="email" formControlName="email">
                  </mat-form-field>
                </div>
              </div>

              <div class="row">
                <div class="col-lg-12">
                  <mat-form-field>
                    <mat-label>Pais Origem</mat-label>
                    <mat-select formControlName="paisOrigem" required (selectionChange)="isBrasil($event)">
                      <mat-option>--</mat-option>
                      <mat-option *ngFor="let pais of paisesSelecao" [value]="pais.id">
                        {{pais.nome}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
              </div>

              <div class="row">
                <div class="col-lg-12">
                  <mat-form-field *ngIf="isBrazil">
                    <mat-label>CPF</mat-label>
                    <input matInput type="text" formControlName="cpf" [textMask]="{mask: CPF_MASK}" required pattern="^[0-9]{3}.[0-9]{3}.[0-9]{3}-[0-9]{2}$">
                  </mat-form-field>
                  <mat-error *ngIf="autorForm.hasError('cpfInvalid')">CPF inválido</mat-error>
                </div>
              </div>

              <div class="row">
                <div class="col-lg-12">
                  <mat-form-field>
                    <mat-label>Data de Nascimento</mat-label>
                    <input matInput [matDatepicker]="picker" formControlName="dataNascimento" required>
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                  </mat-form-field>
                </div>
              </div>

              <div class="row">
                <div class="col-lg-12">
                  <mat-form-field>
                    <mat-label>Selecione a(s) Obra(s)</mat-label>
                    <mat-select formControlName="obras" multiple>
                      <mat-option *ngFor="let obra of obras" [value]="obra.id">{{obra.nome}}</mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
              </div>
            </div>

            <div class="row justify-content-center">
              <div class="col-lg-auto">
                <button mat-raised-button type="submit" color="primary" [disabled]="autorForm.invalid">{{textButtom}}</button>
              </div>
              <div class="col-lg-auto">
                <button mat-raised-button disabled>Cancelar</button>
              </div>
            </div>
          </form>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
