<div class="container-fluid pt-2">
  <div class="row justify-content-center">
    <div class="col-lg-10">
      <mat-card><h3>Edição de Autores</h3></mat-card>
    </div>
  </div>
</div>
<app-autor-editor *ngIf="autorEdicao" [autor]="autorEdicao" [textButtom]="'Editar'" (autorEventEmitter)="editar($event)"></app-autor-editor>
