<div class="container-fluid pt-2">
  <div class="row justify-content-center">
    <div class="col-lg-10">
      <mat-card><h3>Cadastro de Obras</h3></mat-card>
    </div>
  </div>
</div>
<app-obra-editor [textButton]="'cadastrar'" (obraModelEmitter)="cadastrar($event)"></app-obra-editor>
