<mat-toolbar color="primary">
  SEBO

  <button mat-button [matMenuTriggerFor]="menuAutor">Autor</button>
  <mat-menu #menuAutor="matMenu">
    <a mat-menu-item routerLink="/cadastrar-autor" routerLinkActive="active">
      <mat-icon>add</mat-icon>
      <span>Cadastrar</span>
    </a>
    <a mat-menu-item routerLink="/listar-autores" routerLinkActive="active">
      <mat-icon>list</mat-icon>
      <span>Listar</span>
    </a>
  </mat-menu>

  <button mat-button [matMenuTriggerFor]="menuObra">Obra</button>
  <mat-menu #menuObra="matMenu">
    <a mat-menu-item routerLink="/cadastrar-obra" routerLinkActive="active">
      <mat-icon>add</mat-icon>
      <span>Cadastrar</span>
    </a>
    <a mat-menu-item routerLink="/listar-obras" routerLinkActive="active">
      <mat-icon>list</mat-icon>
      <span>Listar</span>
    </a>
  </mat-menu>
</mat-toolbar>
<router-outlet></router-outlet>
