<div class="container-fluid pt-2">
  <div class="row justify-content-center">
    <div class="col-lg-10">
      <mat-card><h3>Listagem dos Autores</h3></mat-card>
    </div>
  </div>
</div>
<div class="container-fluid pt-2">
  <div class="row justify-content-center">
    <div class="col-lg-10">
      <table mat-table [dataSource]="autores" class="mat-elevation-z8">

        <ng-container matColumnDef="nome">
          <th mat-header-cell *matHeaderCellDef> Nome </th>
          <td mat-cell *matCellDef="let element"> {{element.nome}} </td>
        </ng-container>

        <ng-container matColumnDef="dataNascimento">
          <th mat-header-cell *matHeaderCellDef> Data de Nascimento </th>
          <td mat-cell *matCellDef="let element"> {{element.dataNascimento}} </td>
        </ng-container>

        <ng-container matColumnDef="paisOrigem">
          <th mat-header-cell *matHeaderCellDef> Pais de Origem</th>
          <td mat-cell *matCellDef="let element"> {{element.paisOrigem}} </td>
        </ng-container>

        <ng-container matColumnDef="acoes">
          <th mat-header-cell *matHeaderCellDef> Ações</th>
          <td mat-cell *matCellDef="let element">
            <button mat-button><mat-icon aria-hidden="false" aria-label="Example home icon" (click)="editar(element.id)">create</mat-icon></button>
            <button mat-button><mat-icon aria-hidden="false" aria-label="Example home icon" (click)="remover(element.id)">delete</mat-icon></button>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    </div>
  </div>
</div>
