<div class="container-fluid pt-2">
  <div class="row justify-content-center">
    <div class="col-lg-10">
      <mat-card>
        <form [formGroup]="obraForm" (ngSubmit)="onSubmit()">
          <div class="container-fluid">
            <div class="row">
              <div class="col-lg-12">
                <input type="file" name="image" accept="image/png" class="form-control-file" (change)="uploadArquivo($event)" required>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-12">
                <div class="image-preview mb-3" *ngIf="imagemUrl">
                  <img [src]="imagemUrl" class="obra-imagem"  alt="imagem da obra"/>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-lg-12">
                <mat-form-field>
                  <mat-label>Nome</mat-label>
                  <input matInput type="text" formControlName="nome" required>
                </mat-form-field>
              </div>
            </div>

            <div class="row">
              <div class="col-lg-12">
                <mat-form-field>
                  <mat-label>Descrição</mat-label>
                  <textarea matInput formControlName="descricao" required maxlength="240"></textarea>
                </mat-form-field>
              </div>
            </div>

            <div class="row">
              <div class="col-lg-12">
                <mat-form-field>
                  <mat-label>Data de Publicação</mat-label>
                  <input matInput [matDatepicker]="dataPublicacao" formControlName="dataPublicacao">
                  <mat-datepicker-toggle matSuffix [for]="dataPublicacao"></mat-datepicker-toggle>
                  <mat-datepicker #dataPublicacao></mat-datepicker>
                </mat-form-field>
              </div>
            </div>

            <div class="row">
              <div class="col-lg-12">
                <mat-form-field>
                  <mat-label>Data de Exposição</mat-label>
                  <input matInput [matDatepicker]="dataExposicao" formControlName="dataExposicao">
                  <mat-datepicker-toggle matSuffix [for]="dataExposicao"></mat-datepicker-toggle>
                  <mat-datepicker #dataExposicao></mat-datepicker>
                </mat-form-field>
              </div>
            </div>

            <div class="row">
              <div class="col-lg-12">
                <mat-form-field>
                  <mat-label>Selecione os Autores</mat-label>
                  <mat-select formControlName="autores" multiple>
                    <mat-option *ngFor="let autor of autoresSelecao" [value]="autor.id">{{autor.nome}}</mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
            </div>
          </div>
          <div class="row justify-content-center">
            <div class="col-auto">
              <button mat-raised-button color="primary" type="submit" [disabled]="obraForm.invalid">{{textButton}}</button>
            </div>
            <div class="col-auto">
              <button mat-raised-button>Cancelar</button>
            </div>
          </div>
        </form>
      </mat-card>
    </div>
  </div>
</div>
